.title {
    display: block;
    width: 100%;
    background: rgb(255, 51, 102);
    padding: 6px 20px;
}
.title h6 {
    color: #FFF;
    font-size: 0.875em;
    line-height: 25px;
    margin: 0px;
    font-weight: 600;
    text-transform: uppercase;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  color: gray;
  background-color: white;
  padding: 50px 55px 50px 80px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}