.header-list {
    background: rgb(255, 51, 102);
    padding: 10px 30px;
    color: #fff;
}
.general-wrapper .page-container .page-content .content-box .label-table {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 25px;
    height: 25px;
}
.city {
    width: 15%;
}
.name {
    width: 30%;
    text-align: center;
}
.address {
    width: 35%;
    text-align: center;
}
.review {
    width: 10%;
    text-align: center;
}
.status {
    width: 10%;
    text-align: center;
}
.general-wrapper .page-container .page-content .content-box .item-list {
    display: block;
}
.general-wrapper .page-container .page-content .content-box .item-list .item{
    background: #fff;
    color: #333;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.city .edit {
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}
.city .delete {  
    opacity: 0;
}
.city .edit:hover, .city .edit:focus {
    color: rgb(255, 51, 102);
    text-decoration: none;
    cursor: pointer;
}
.city .delete:hover, .city .delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.city:hover .edit, .city:focus .edit{
    opacity: 1;
}

.city:hover .delete, .city:focus .delete{
    opacity: 1;
}
.offer {
    font-size: 50px;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}
.offer_detail {
    display: none;
}
.btn-detail {
    border: none;
    box-shadow: none;
    background: #eee;
}