.content-box {
    display: block;
    margin: 30px 20px 30px 20px;
    padding-bottom: 50px;
    padding-top: 0px !important;
    background: #fff;
}

.jZdnvR {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: left;
}

.elakDd {
  display: inline-block;
  position: relative;
  line-height: 0;
}

.bbGlpa {
  border-radius: 50%;
}

.jlUgds {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 51, 102);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: -10px;
  border-radius: 50%;
}

.gRyTDd {
  display: flex;
  margin-top: 40px;
  margin-left: 25px;
  text-align: center;
}

.kGsBD {
  font-size: 15px;
  font-weight: 500;
  color: rgb(162, 162, 162);
  cursor: pointer;
  transition: color 300ms;
}
.kGsBD:hover {
  color: inherit;
}

.bJGPFf {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.title {
    padding-left: 20px;
    padding-top: 20px;
    font-style: italic;
}

.title p {
    font-size: 18px;
}
.jZdnvR {
    padding-left: 20px;
    padding-top: 20px;
}

.informations {
    padding: 10px 0px 0px 30px;
    display: inline-block;
}

.informations .form-group {
    width: 250px;
    height: auto;
    float: left;
    margin-right: 25px;
}

#save, #save_profile {
    background: rgb(255, 51, 102);
    padding: 10px 35px;
    color: #fff;
    margin-top: 11px;
    margin-left: 30px;
}

.alert {
    margin-left: 30px;
    width: 500px;
}