.image{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -moz-background-size: cover !important;
  background-size: cover !important;
}
.description {
  width: 690px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .description {
    width: 500px;
  }
}
@media (max-width: 480px) {
  .description {
    width: 400px;
  }
}
@media (max-width: 412px) {
  .description {
    width: 385px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 384px) {
  .description {
    width: 350px;
    padding-left: 10px;
    padding-right: 25px;
  }
}
@media (max-width: 360px) {
  .description {
    padding-right: 25px;
  }
}
@media (max-width: 320px) {
  .description {
    width: 300px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 15px;
  }
}
.description.detail_info {
    color: #fff;
    padding: 20px;
    text-align: center;
}
.description.detail_info h2{
  margin: 0;
  margin-bottom: 15px;
}
.description.detail_info p{
  font-size: 18px;
  color: #484848;
}
@media (max-width: 480px) {
  .description.detail_info h2{
    font-size: 20px;
  }
  .description.detail_info p{
    font-size: 14px;
  }
}
.job_list {
  width: 690px;
  margin: 0 auto;
  margin-top: 48px;
}
@media (max-width: 600px) {
  .job_list {
    width: 500px;
  }
}
@media (max-width: 480px) {
  .job_list {
    width: 400px;
  }
}
@media (max-width: 412px) {
  .job_list {
    width: 380px;
  }
}
@media (max-width: 384px) {
  .job_list {
    width: 350px;
  }
}
@media (max-width: 320px) {
  .job_list {
    width: 290px;
  }
}
.space-6 {
  margin-bottom: 36px;
}
header {
  font-weight: 600;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  margin-bottom: 15px;
}
.table>thead>tr>th {
  vertical-align: bottom;
}
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
  padding: 8px;
  border-top: 1px solid #dce0e0;
  vertical-align: top;
}
th {
  text-align: left;
}
table tr th>button.sort-button {
  border: 0;
  background: transparent;
}
table tr .sort-direction {
  width: 20px;
  height: 10px;
  display: inline-block;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #fff;
}
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
  padding: 8px;
  border-top: 1px solid #dce0e0;
  vertical-align: top;
}
.text-normal, a.text-normal, a.text-normal:hover, a.text-normal:focus {
  color: inherit;
  cursor: pointer;
}
.flagcon.united-states {
  background-position: 0 -153px;
}
.flagcon {
  width: 18px;
  height: 15px;
  display: block;
  float: left;
  margin-right: 10px;
}
.flagcon img {
  width: 18px;
  height: 15px;
}
.jobs-header-text {
    font-weight: bold;
}
@media (max-width: 360px) {
    .jobs-header-text {
        font-size: 37px;
        padding-top: 25px;
    }
}
@media (max-width: 320px) {
    .jobs-header-text {
        font-size: 37px;
        padding-top: 50px;
    }
}