#footer {
  display: none;
}
#site-footer {
  display: none;
}
.content {
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  z-index: 102 !important;
  top: 0px !important;
  left: 0px !important;
  animation-name: keyframe_18jn58a !important;
  animation-duration: 1200ms !important;
  animation-timing-function: ease !important;
  background: rgb(255, 255, 255) !important;
}
.inner_content {
  position: absolute !important;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  overflow: scroll !important;
}
._typbqzd {
  width: 100% !important;
  text-align: left !important;
  padding: 25px !important;
}
@media (min-width: 744px) {
    ._typbqzd {
        position: absolute !important;
        top: 57% !important;
        transform: translateY(-50%) !important;
        width: calc(55vw - 24px) !important;
        left: -24px !important;
        padding: 8vw !important;
        padding-top: 15px !important;
    }
}
._c0gjcf {
  animation-name: keyframe_1h9a4f2 !important;
  animation-duration: 1000ms !important;
  animation-timing-function: ease !important;
  animation-fill-mode: forwards !important;
}
._12ei9u44 {
  font-weight: 800 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 32px !important;
  line-height: 36px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
._ncwphzu {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  font-weight: normal !important;
}
._ugd6bx {
  position: absolute !important;
  top: 24px !important;
  right: 24px !important;
  bottom: 24px !important;
  width: 45% !important;
  animation-name: keyframe_18jn58a !important;
  animation-duration: 1000ms !important;
  animation-timing-function: ease !important;
  overflow: hidden !important;
}
._1f6oxkn {
  width: 100% !important;
  height: 100% !important;
  animation-name: keyframe_s55thm !important;
  animation-duration: 15000ms !important;
  animation-fill-mode: forwards !important;
}
._10105j3 {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% !important;
  transition: all 1s ease-in-out !important;
}
._e296pg {
  position: relative !important;
}
._6ikqekk {
  position: absolute !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  -webkit-animation-name: keyframe_18jn58a !important;
  animation-name: keyframe_18jn58a !important;
  -webkit-animation-duration: 300ms !important;
  animation-duration: 300ms !important;
  -webkit-animation-timing-function: ease-out !important;
  animation-timing-function: ease-out !important;
  background-size: cover !important;
}
.next, .next:focus, .next:hover {
  background: rgb(255, 51, 102);
  padding: 10px 76px;
  color: #fff;
}
._1dnc5pl {
  width: 100% !important;
  text-align: center !important;
  padding: 25px !important;
}
@media (min-width: 744px) {
    ._1dnc5pl {
        position: absolute !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        padding: 8vw !important;
    }
}
._1b08ubc {
    width: 60% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 0px !important;
    position: absolute !important;
}
._1l4vj07 {
  animation-name: keyframe_1x6xvt7 !important;
  animation-duration: 4000ms !important;
  animation-timing-function: ease !important;
  animation-fill-mode: forwards !important;
}
.step1 {
  display: none;
}
.step2 {
  display: none;
}
.step3 {
  display: none;
}
.step4 {
  display: none;
}
.step5 {
  display: none;
}
.step6 {
  display: none;
}
.step7 {
  display: none;
}
.step8 {
  display: none;
}
._36rlri {
  display: inline-block !important;
}
._1n57hdr7 {
  font-weight: 600 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
}
._1uqp3jab {
  color: rgb(255, 51, 102) !important;
  font: inherit !important;
  text-decoration: none !important;
  text-align: left !important;
}
.hm-splash-page--benefit-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 877px;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  .hm-splash-page--benefit-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 877px;
      margin: 0 auto;
  }
}
.hm-splash-page--benefit-item {
  text-align: center;
  position: relative;
  padding-bottom: 66px;
  flex: 0 0 155px;
  width: 200px;
  margin: 0;
}
@media (min-width: 1025px) {
  .hm-splash-page--benefit-item {
      text-align: center;
      position: relative;
      padding-bottom: 66px;
      flex: 0 0 200px;
      width: 200px;
      margin: 0;
  }
}
.hm-splash-page--benefit-item img {
  width: 150px;
}
.hm-splash-page--benefit-item h4 {
  font-size: 24px;
  padding: 2px 0 24px 0;
  margin: 0;
  font-weight: bold;
  margin-top: 10px;
}
@media (min-width: 1025px) {
  .hm-splash-page--benefit-item h4 {
      font-size: 24px;
      padding: 2px 0 24px 0;
      margin: 0;
      margin-top: 10px;
  }
}
.hm-splash-page--benefit-item p {
  font-size: 15px;
  line-height: 19px;
  padding: 0 10px;
}
._1x0jb4k {
  position: relative !important;
  z-index: 2 !important;
  display: table;
  margin-left: 110px;
  margin-right: 110px;
}
.works {
  position: absolute;
  top: 5%;
  left: 3%;
  text-align:center;
  width: 45% !important;
}
.step6 .works {
  top: 26%;
}
.works h3 {
  font-size: 40px;
  margin-bottom: 35px;
}
.step-content {
  display: block;
}
.profile-content {
  width: 100%;
}
.step5 .works .profile {
  margin-top: 30px;
  float: left;
  display: inline-block;
  width: 30%;
}
.step5 ._1afoiga {
  bottom: -155px !important;
}
.step7 ._1afoiga {
  bottom: 0px !important;
}
.jZdnvR {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.elakDd {
  display: block;
  position: relative;
  line-height: 0;
}
.gRyTDd {
  display: flex;
  margin-top: 40px;
  text-align: center;
}
.bbGlpa {
  border-radius: 50%;
}
.jlUgds {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 51, 102);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 15px;
  top: 95px;
  border-radius: 50%;
}
.bJGPFf {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.kGsBD {
  font-size: 15px;
  font-weight: 500;
  color: rgb(255, 51, 102);
  cursor: pointer;
  transition: color 300ms;
}
.step5 .message {
  margin-top: 50px;
  display: inline-block;
  width: 60%;
}
.step5 .message textarea {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: normal;
  color: rgb(72, 72, 72);
  font-weight: normal;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
  margin-bottom: 8px;
  display: block;
  width: 100%;
  min-height: 126px;
  padding: 11px;
  height: 128px;
}
.step5 .message textarea::placeholder {
  color: rgb(177, 172, 172);
}
.message h4 {
  text-align: left;
  margin-top: 20px;
}
.message .tags {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}
.message .plus i {
  position: absolute;
  padding-top: 10px;
  left: 19px;
  color: rgb(255, 51, 102);
  cursor: pointer;
}
.message #indicate {
  width: 100%;
  border: 1px solid rgb(255, 51, 102);
  border-radius: 20px;
  padding: 5px 5px 5px 56px;
  background-image: url(/../imgs/plus.png);
  background-repeat: no-repeat;
  background-position: 5% center;
  background-size: 20px auto;
}
.message #indicate:focus, .message #indicate:hover {
  outline: none;
}
.tags .tag, .tags .tag:hover, .tags .tag:focus {
  text-align: center;
  padding: 10px;
  width: 80px;
  border-radius: 30px;
  color: #fff;
  background: rgb(255, 51, 102);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.profile .next {
  margin-top: 68px;
}
.step6 .message {
  margin-top: 50px;
}
.step6 .message textarea {
  width: 100%;
  height: 200px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: normal;
  color: rgb(72, 72, 72);
  font-weight: normal;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
  margin-bottom: 8px;
  display: block;
  width: 100%;
  min-height: 126px;
  padding: 11px;
  height: 112px;
}
.step6 .message button {
  float: left;
  margin-top: 20px;
}
._1thk0tsb {
  display: table-cell !important;
  vertical-align: top !important;
}
._gttisv7 {
  font-weight: 600 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 18px !important;
  line-height: 26px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
}
._1afoiga {
  position: absolute !important;
  width: 100% !important;
  bottom: 0px !important;
  background-color: rgb(255, 255, 255) !important;
  min-height: 75px !important;
}
._1nw0tbq {
  font-size: 18px !important;
  float: left !important;
  padding: 24px !important;
}
._dgjope {
  height: 5px !important;
  background-color: rgb(255, 51, 102) !important;
  position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;
  transition: width 500ms ease !important;
}
._1hm6r1so {
  -webkit-appearance: none !important;
  cursor: pointer !important;
  user-select: auto !important;
  text-align: left !important;
  color: rgb(72, 72, 72) !important;
  text-decoration: none !important;
  background: transparent !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
  margin: 0px !important;
  padding: 0px !important;
}
._qtix31 {
  display: table !important;
}
._ni9axhe {
  display: table-cell !important;
  vertical-align: middle !important;
}

@media (max-width: 800px) {
  ._ugd6bx {
    display: block !important;
  }
  .step3 ._ugd6bx {
    display: none !important;
  }
  .step3 .hm-splash-page--benefit-container {
    display: flex;
  }
  .step3 .works {
    top: 0px;
    width: 100% !important;
    margin: 0;
    left: 0;
    padding: 10px;
  }
  .step3 .hm-splash-page--benefit-item img {
    width: 175px;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 250px;
    width: 150px;
    padding-bottom: 15px;
  }
  .step5 .works {
    top: 80px;
    left: 0;
    width: 100% !important;
  }
  .step5 ._1afoiga {
    bottom: -200px !important;
  }
  .step5 ._ugd6bx {
    display: none !important;
  }
  .step6 .works {
    left: 0;
    top: 40px;
    width: 55% !important;
    padding: 40px;
  }
  .step7 ._typbqzd {
    top: 50% !important;
    left: 0% !important;
    padding-bottom: 0 !important;
  }
  .step7 ._1nw0tbq {
    padding: 0 !important;
    margin-top: -10px;
    padding-left: 10px;
  }
  .step7 ._1afoiga {
    min-height: 25px !important;
    height: 25px;
    bottom: 0 !important;
  }
}

@media (max-width: 600px) {
  .step0 ._ugd6bx, .step2 ._ugd6bx {
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0 !important;
    display: block !important;
    z-index: -1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  .step0 ._typbqzd{
    margin-top: 37% !important;
    padding-bottom: 0px !important;
    z-index: 100;
  }
  .step2 ._typbqzd {
    margin-top: 13% !important;
  }
  .step0 ._12ei9u44, .step2 ._12ei9u44 {
    color: #fff !important;
    font-size: 30px !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .step0 ._ncwphzu, .step2 ._ncwphzu {
    color: #fff !important;
    font-size: 20px !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .step1 ._1b08ubc, .step4 ._1b08ubc {
    margin-top: 30% !important;
  }
  .step2 ._1afoiga, .step3 ._1afoiga, .step6 ._1afoiga{
    background: transparent !important;
  }
  .step2 ._ni9axhe span, .step3 ._ni9axhe span, .step6 ._ni9axhe span {
    color: rgb(255, 51, 102);
  }
  .step2 ._1uqp3jab {
    color: #fff !important;
  }
  .step3 .hm-splash-page--benefit-container {
    display: flex;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 190px;
    width: 150px;
    padding-bottom: 55px;
  }
  .step3 .works {
    top: 0px;
    left: 0;
  }
  .step3 .hm-splash-page--benefit-item img {
    width: 150px;
  }
  .step3 .works h3 {
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 36px;
    margin-bottom: 25px;
  }
  .step3 ._ugd6bx {
    width: 100% !important;
    top: 0 !important;
    height: 100%;
    right: 0 !important;
    display: block !important;
    z-index: -1;
  }
  .step3 .hm-splash-page--benefit-item h4 {
    color: #fff !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .step3 .hm-splash-page--benefit-item p {
    color: #fff !important;
  }
  .step5 .works {
    top: 50px;
    left: 0;
    width: 100% !important;
  }
  .step5 .works .profile {
    left: 3px;
  }
  .step5 .message {
    left: 190px;
  }
  .step5 .profile .next {
    margin-top: 225px;
    left: 115%;
    position: relative;
  }
  .step5 ._ugd6bx, .step6 ._ugd6bx, .step7 ._ugd6bx {
    display: none !important;
  }
  .step5 ._1afoiga {
    bottom: -350px !important;
  }
  .step6 .works {
    left: 0px;
    top: 65px;
    width: 100% !important;
    margin: 0;
    padding: 20px;
  }
  .step6 .message textarea {
    background: transparent;
  }
  .step7 ._typbqzd {
    margin-top: 17% !important;
  }
}

@media (max-width: 480px) {
  .step3 .hm-splash-page--benefit-container {
    max-width: 480px;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 150px;
    width: 150px;
  }
  .step1 ._12ei9u44, .step4 ._12ei9u44 {
    font-size: 28px !important;
  }
  .step5 .works .profile {
    width: 100%;
    position: relative;
    display: block;
    height: 190px;
  }
  .step5 .message {
    position: relative;
    left: 20px;
    margin: 20px;
  }
  .step5 .gRyTDd {
    margin-top: 0px;
  }
  .step5 .profile .next {
    position: relative;
    margin-top: 450px;
    display: block;
    margin-left: 40px;
    left: 0;
  }
  .step6 .works {
    left: 24px;
    top: 420px;
  }
}

@media (max-width: 412px) {
  .step2 ._typbqzd {
    margin-top: 30% !important;
  }
  .step3 .works {
    top: 30px;
    left: 0;
  }
  .step3 .hm-splash-page--benefit-container {
    max-width: 412px;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 135px;
    width: 135px;
  }
  .step3 .hm-splash-page--benefit-item img {
    width: 135px;
  }
  .step5 .message {
    left: -14px;
  }
  .step5 .profile .next {
    margin-left: 5px;
  }
  .step6 .works {
    left: 0px;
    margin-left: 20px;
    margin-right: 20px;
    top: 255px;
  }
  .step7 ._typbqzd {
    margin-top: 20% !important;
  }
  .step3 .hm-splash-page--benefit-container {
    max-width: 384px;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 125px;
    width: 125px;
  }
  .step5 .works {
    left: 0;
  }
  .step5 .message textarea {
    width: 85%;
  }
  .tags .tag, .tags .tag:hover, .tags .tag:focus {
    width: 105px;
  }
  .message #indicate {
    width: 85%;
    display: block;
  }
  .step6 .works {
    top: 205px;
  }
  .step7 ._typbqzd {
    margin-top: 10% !important;
  }
}

@media (max-width: 375px) {
  .step3 .hm-splash-page--benefit-container {
    max-width: 375px;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 118px;
    width: 118px;
  }
  .step5 .works {
    max-width: 375px;
  }
  .step5 .message textarea {
    width: 90%;
  }
}

@media (max-width: 414px) {
  .step0 ._typbqzd {
    margin-top: 50% !important;
  }
  .step2 ._typbqzd {
    margin-top: 12% !important;
  }
  .step3 .works {
    top: 12px;
    left: 0;
    width: 100% !important;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 137px;
    width: 150px;
  }
  .step3 .hm-splash-page--benefit-item img {
    width: 115px;
  }
  .step3 ._1afoiga {
    min-height: 60px !important;
  }
  .step3 ._1nw0tbq {
    padding-bottom: 0 !important;
  }
  .step5 .works {
    top: 50px;
    left: 0;
    width: 100% !important;
    margin: 0;
    padding: 10px;
  }
  .step5 .message {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px;
    left: 0;
  }
  .step5 .message textarea {
    width: 100%;
  }
  .step5 ._1afoiga {
    bottom: -590px !important;
  }
  .step6 .works {
    top: 80px;
    width: 100% !important;
    margin: 0;
    padding: 20px;
    left: 0;
  }
  .step7 ._typbqzd {
    margin-top: 8% !important;
  }
  .step7 ._1afoiga {
    bottom: 0px !important;
  }
}
@media (max-width: 360px) {
  .step0 ._typbqzd, .step2 ._typbqzd {
    margin-top: 55% !important;
  }
  .step2 ._typbqzd {
    margin-top: 5% !important;
  }
  .step3 .works {
    top: 0;
    width: 100% !important;
    margin: 0;
    padding: 10px;
  }
  .step3 .hm-splash-page--benefit-item img {
    width: 110px;
  }
  .step3 .hm-splash-page--benefit-container {
    max-width: 360px;
  }
  .step3 .works h3 {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 110px;
    width: 110px;
  }
  .step5 .works {
    max-width: 360px;
    width: 100% !important;
    padding: 10px;
  }
  .step5 .message {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px;
    left: 0;
  }
  .step5 .message textarea {
    width: 100%;
  }
  .step5 ._1afoiga {
    bottom: -590px !important;
  }
  .step6 .works {
    top: 80px;
    width: 100% !important;
    margin: 0;
    padding: 20px;
  }
  .step7 ._typbqzd {
    margin-top: 8% !important;
  }
  .step7 ._1afoiga {
    bottom: 0px !important;
  }
}

@media (max-width: 320px) {
  .step0 ._typbqzd, .step2 ._typbqzd {
    margin-top: 34% !important;
  }
  .step1 ._12ei9u44, .step4 ._12ei9u44 {
    font-size: 20px !important;
  }
  .step0 ._12ei9u44, .step2 ._12ei9u44 {
    font-size: 20px !important;
  }
  .step0 ._ncwphzu, .step2 ._ncwphzu {
    font-size: 18px !important;
  }
  .step2 ._typbqzd {
    margin-top: 0% !important;
    padding: 15px !important;
  }
  .step2 ._1afoiga, .step3 ._1afoiga, .step6 ._1afoiga {
    min-height: 40px !important;
  }
  .step2 ._1nw0tbq, .step3 ._1nw0tbq, .step6 ._1nw0tbq {
    padding: 5px !important;
  }
  .step2 ._c0gjcf div:nth-child(3) div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .step3 .works {
    top: 15px;
    width: 100% !important;
  }
  .step3 .hm-splash-page--benefit-container {
    max-width: 320px;
    margin-top: 20px;
    padding: 10px;
  }
  .step3 .works h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .step3 .hm-splash-page--benefit-item {
    flex: 0 0 100px;
    width: 100px;
  }
  .step3 .hm-splash-page--benefit-item img {
    width: 100px;
  }
  .step3 .hm-splash-page--benefit-item h4 {
    font-size: 20px;
  }
  .step3 .hm-splash-page--benefit-item p {
    font-size: 13px;
    line-height: 15px;
  }
  .step1 ._1b08ubc, .step4 ._1b08ubc {
    margin-top: 40% !important;
  }
  .step5 .works {
    max-width: 320px;
    width: 100% !important;
  }
  .step5 .message {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px;
    left: 0;
  }
  .step5 .message textarea {
    width: 100%;
  }
  .step5 ._1afoiga {
    bottom: -590px !important;
  }
  .message #indicate {
    width: 77%;
  }
  .step6 .works {
    top: 70px;
    width: 100% !important;
    margin: 0;
    padding: 15px;
  }
  .step7 ._1afoiga {
    position: relative !important;
  }
  .step7 ._typbqzd {
    padding-bottom: 0 !important;
  }
}
