#site-content {
    height: 100% !important;
}

.home-background {
    background-image:url(/images/Background/InsiderSuite_Home1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.signup-form {
    display: block !important;
}

.button {
    background-color: rgb(255, 51, 102) !important;
    padding: 10px 76px;
    color: white !important;
    width: 100%;
    margin-top: 25px !important;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    outline: none;
}
.user_password {
    background-image: url(/imgs/icon-lock.png);
    background-repeat: no-repeat;
    background-position: 98% center;
    padding-left: 20px;
    background-size: 22px auto;
    width: 100%;
    font-style: italic;
    border: none;
    border-bottom: 1px solid #dcdada;
    margin-top: 25px;
}
.form-wrap .tabs-content {
    padding: 0.5em 1.5em 2.5em !important;
}
.error_message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
